// Screen sizes :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$desktop-max-width: 1390px;
$desktop-min-width: 980px;
$tablet-width: 780px;
$mobile-width: 480px;
$mobile-min-width: 320px;

// General settings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$spacing: 20px;
$radius: 5px;
$shadow: 0 2px 8px -2px rgba(#000, .3);
$zindex-modal: 9;
$zindex-loader: 10;

// Colors :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$alpha: darkturquoise;
$beta: goldenrod;

// Text colors
$txt-alpha: $alpha;
$txt-color-light: #FFF;
$txt-color: #BBB;
$txt-color-dark: #888;

// Social Colors
$facebook-color: #3B5998;
$twitter-color: #55ACEE;
$googleplus-color: #DC4E41;

// Outline
$outline-color: #55C4F7;

// Typography ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$font-family: 'Roboto', sans-serif;
$font-color: $txt-color;
$font-size: 16px;

// App :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$app-bg: #000;

// Bar :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$bar-bg: #222;
$bar-size: 55px;
$icon-size: 28px;

// Card :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$card-bg: #333;

// Forms ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$field-size: 50px;
// $button-size: 60px;
