/**
* Transition
* @param {property} $property - define wich property will receive the transition effect
* @param {time|milliseconds} $timing - define time of the transition
* @param {type} $type - define the tipe of the cubic-bezier animation in transition effect
**/
@mixin transition($property: all, $timing: .2s, $type: ease-in-out) {
  transition: $property $timing $type;
}

/**
* Breackpoint
* @param {query-type} $query-type - type of device (mobile, tablet, print) for media-query
**/
@mixin breakpoint($query-type) {
  @if $query-type == tablet {
    @media (max-width: #{$tablet-width}) {
      @content;
    }
  } @else if $query-type == mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  } @else if $query-type == print {
    @media print {
      @content;
    }
  }
}
