// Global element configs :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
* {
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

  // &,
  // &:before,
  // &:after {
  //   box-sizing: border-box;
  //   -webkit-tap-highlight-color: rgba(#000, 0);
  // }
}

::selection {
  color: $alpha;
  background: $app-bg;
}

::placeholder {
  color: $txt-color-light;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-family;
  font-size: 100%;
  color: $font-color;
  background: $app-bg;
  // outline-color: $outline-color;
  // outline-offset: 2px;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: $alpha;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #FFF;
    text-decoration: none;
  }
}

fieldset {
  border-radius: $radius;
}

input {
  &:hover,
  &:focus {
    border-color: $outline-color;
    outline-offset: 2px;
  }

  &:not([type='radio']),
  &:not([type='checkbox']) {
    outline: none;
  }
}

button {
  user-select: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &[class*='wm-icon-'] {
    background: initial;
    border: initial;
  }
}
