// Movie settings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$poster-height: 120px;
$action-width: $poster-height / 2 - 5px;

// Movie configs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.card-list {
  margin: 0;
  padding: 0;
}

.card-movie {
  display: flex;
  margin: 2px;
  background: $card-bg;
}

.card-poster {
  width: auto;
  height: $poster-height;

  img {
    width: inherit;
    height: inherit;
  }
}

// Movie infos ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  margin: 20px;
  min-width: 120px; // fix size when a child use ellipis configs

  p { // p tag is used by release and rating paragraphs
    margin: 0;
    font-size: 14px;
  }

  svg {
    margin-right: 5px;
  }

  span {
    vertical-align: bottom;
  }
}

.card-title {
  @extend %ellipsis;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: $txt-color-light;
}

.card-average {
  margin-right: 10px;

  svg {
    color: $beta;
  }
}

// Movie actions ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.card-action {
  width: $action-width;

  button {
    @include transition;
    width: inherit;
    height: 50%;
    background: $card-bg;
    border: 0;
    outline: 2px solid $app-bg;

    &:active,
    &:hover {
      color: $alpha;
      background: $bar-bg;
    }
  }
}
