.tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $bar-size;
  background: $bar-bg;
  outline: 2px solid $app-bg;
}

.tabs-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

:global .main {
  padding-bottom: $bar-size;
}
