.menu-list {
  margin: 0;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  height: $bar-size;
  background: $card-bg;
  outline: 1px solid $app-bg;
}

.menu-title {
  font-size: 16px;
  margin: 0;
  text-indent: 20px;
}
