.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.drawer-content {
  position: absolute;
  width: 80%;
  max-width: 400px;
  min-width: 260px;
  height: 100%;
  background: $bar-bg;
  z-index: 1;
  // left: 0;
}

.drawer-overlay {
  @include transition($property: opacity, $timing: .3s, $type: linear);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, .7);
}

.drawer-header {
  height: 100px;
  border-bottom: 2px solid $app-bg;
  display: flex;
  align-items: flex-end;
}


// Animations :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.drawer-enter {
  .drawer-content {
    @include transition($property: transform, $timing: .35s, $type: ease-out);
    transform: translate3d(-100%, 0, 0);
  }

  .drawer-overlay {
    opacity: 0;
  }
}

.drawer-enter-active {
  .drawer-content {
    transform: translate3d(0, 0, 0);
  }

  .drawer-overlay {
    opacity: 1;
  }
}

.drawer-exit {
  .drawer-content {
    @include transition($property: transform, $timing: .35s, $type: ease-in);
    transform: translate3d(0%, 0, 0);
  }

  .drawer-overlay {
    opacity: 1;
  }
}

.drawer-exit-active {
  .drawer-content {
    transform: translate3d(-100%, 0, 0);
  }

  .drawer-overlay {
    opacity: 0;
  }
}
