// Header configs
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $bar-bg;
  outline: 2px solid $app-bg;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin: 0;
  color: $alpha;
  font-size: 18px;
  font-weight: 500;
  line-height: $bar-size;
  user-select: none;
}

// Buttons configs
.header-left-area,
.header-right-area {
  width: $bar-size;
  height: $bar-size;
  padding: 8px;

  button {
    width: 100%;
    height: 100%;
    background: $bar-bg;
    color: $alpha;
    border: 0;
    border-radius: $bar-size;

    &:hover {
      background: darken($bar-bg, 10);
    }
  }

  svg {
    width: $icon-size;
    height: $icon-size;
  }
}

// Save header space
.main {
  padding-top: $bar-size;
}
